.main {
    margin: 8rem 2rem 0.5rem;
}

.big {
    font-size: 2rem;
    padding: 1rem;
}

@media screen and (min-width: 480px)  {
    .big {
        font-size: 5rem;
        max-width: 67%;
        margin-bottom: 3rem;
    }
}